<template>
  <div class="home">
    <img class="home__image" src="../assets/jared.svg"
         alt="Jared Meakin Full Stack Developer | Hire Him!">
    <HomeTechnology class="home__section" />
    <HomeSkills class="home__section" />
    <HomePortfolio class="home__section" />
    <HomeContact class="home__section" />
  </div>
</template>

<script>
  import HomeTechnology from '../sections/HomeTechnology'
  import HomePortfolio from '../sections/HomePortfolio'
  import HomeContact from '../sections/HomeContact'
  import HomeSkills from '../sections/HomeSkills'

  export default {
    name: 'HomePage',
    components: {
      HomeSkills,
      HomeContact,
      HomeTechnology,
      HomePortfolio
    }
  }
</script>

<style>
  .home {
    margin-top: 10vh;
  }

  .home__image {
    display: block;
    width: 100%;
    margin: 0 auto 12rem auto;
    max-width: 39rem;
    font-weight: var(--font-black);
    font-size: 9rem;
    line-height: 7.5rem;
  }

  .home .heading {
    font-weight: var(--font-black);
    font-size: 1.875rem;
    letter-spacing: 1px;
    line-height: 3rem;
    color: var(--color-yellow);
    text-transform: uppercase;
    margin: 0 0 .5rem 0;
  }

  .home .description {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .home__section {
    margin-bottom: 3rem;
  }

  /* Phone */
  @media screen and (max-width: 425px) {
    .home .heading {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-bottom: 1rem;
    }

    .home .description {
      font-size: 1.25rem;
    }
  }
</style>
