<template>
  <section>
    <nav-component />
    <summary-component
      project="Engage"
      team="Me + Daniel Kim"
      scope="Create, administer, and analyze Employee Opinion Surveys."
      frameworks="Ruby on Rails, JavaScript, AWS (EBS + DynamoDB)"
      services="Development, UX/UI, and Product Management"
    >
      <carousel :perPage="1" :paginationSize="13" :paginationPadding="5" paginationActiveColor="#FBB145">
        <slide><img src="../assets/projects/engage_02.png"></slide>
        <slide><img src="../assets/projects/engage_01.png"></slide>
      </carousel>
    </summary-component>
    <section-with-title title="Inception">
      <p>During the Inception Meeting I worked with my client to define goals, risks, and anti-goals. These items served as an anchor for all future planning and prioritization.</p>
      <p>We then created several user personas based on our ideal customer. Next, we created high-level features, refined those features, and prioritized them. By the end of our meeting we had created a high-level set of Features and Stories.</p>
      <img class="section__image" src="../assets/projects/engage_inception.jpg">
    </section-with-title>
    <section-with-title title="Story Writing">
      <p>With the output from the Inception Meeting I began drafting up the first batch of stories. After the initial draft I made another pass to refine, gather additional requirements, and prioritize the entire backlog in
        <b>PivotalTracker</b>.</p>
      <img class="section__image" src="../assets/projects/engage_backlog.png">
    </section-with-title>
    <section-with-title title="Mockups & Prototypes">
      <p>Having clearly defined goals and features I proceeded to mockup the various workflows in
        <b>Sketch</b>. I started with low-fidelity wireframes and clickable prototypes, in
        <b>InVision</b>, to validate our assumptions about the User Experience. I then refined the UX and moved onto creating high-fidelity mockups to be used for development.
      </p>
      <carousel :perPage="1" :paginationSize="13" :paginationPadding="5" paginationActiveColor="#FBB145">
        <slide><img class="section__image" src="../assets/projects/engage_wireframe.png"></slide>
        <slide><img class="section__image" src="../assets/projects/engage_admin_mockup.png"></slide>
        <slide><img class="section__image" src="../assets/projects/engage_mockup_survey.png"></slide>
      </carousel>
    </section-with-title>
    <section-with-title title="Development">
      <p>Having concise stories with clearly defined acceptance criteria made implementing features—with complete end-to-end testing—a breeze.</p>
      <p>Additionally, TDD gave our two-man team the confidence to implement new features without fear of regressions. Here's a quick peak at some of our tests:</p>
      <img class="section__image" src="../assets/projects/engage_tdd.gif">
      <p>As stories were completed they were deployed to a User Acceptance Testing (UTA) environment—for the customer to test. This allowed me to keep a tight feedback-loop with the customer. If a story passed it was moved to staging. If it failed I documented the failure, and the story was restarted.</p>
    </section-with-title>
    <section-with-title title="Conclusion">
      <p>I've only scratched the surface, but this project was a huge success. It's enabled my client to move away from their dependency on expensive third-party SASS offerings.</p>
      <p>With this platform they're saving thousands of dollars each year. Further, they're now able to take a better posture in the market place. Offering competitive pricing, and additional value, that wasn't a realistic option before now.</p>
    </section-with-title>
  </section>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel'
  import NavComponent from '@/components/AppNav'
  import SummaryComponent from '@/components/AppSummary'
  import SectionWithTitle from '@/components/SectionWithTitle'

  export default {
    name: 'ProjectEngage',
    components: {
      SectionWithTitle,
      NavComponent,
      Carousel,
      Slide,
      SummaryComponent
    }
  }
</script>
