<template>
  <section>
    <nav-component />
    <summary-component
      project="Duo Enrollment"
      team="Me"
      scope="Come up with a way for our 9,000+ employees to easily self-enroll in a new 2-factor authentication system—Duo Mobile—from their phones."
      frameworks="Express, Pug, LDAPjs"
      services="Development, UX/UI, and other stuff..."
    >
      <carousel :perPage="1" :paginationSize="13" :paginationPadding="5" paginationActiveColor="#FBB145">
        <slide><img src="../assets/projects/duo_01.png"></slide>
        <slide><img src="../assets/projects/duo_02.png"></slide>
        <slide><img src="../assets/projects/duo_03.png"></slide>
      </carousel>
    </summary-component>
    <section-with-title title="Getting Started">
      <p>Duo Mobile is a third-party 2-factor authentication provider. In deploying this new system our Information Services (IS) department discovered that there wasn't an easy way to pre-enroll employees—they'd have to self-enroll.</p>
      <p>That's where I come in. Given my experience with Active Directory and Duo I got picked. I was given no real direction aside from being told that,
        <i>"they have and API you can use."</i></p>
    </section-with-title>
    <section-with-title title="Research">
      <p>Per requirements, we had to use Active Directory for authentication. So, I decided to leverage ExpressJS for front/back-end, Pug for view templating, and LDAPjs.</p>
      <p>After reading through Duo's API docs it became apparent that—as a user—you would have to enroll from the device you planed to use for 2-factor authentication. In our case that meant a mobile phone—either company issued or personal.</p>
    </section-with-title>
    <section-with-title title="Development">
      <p>This was the easiest part of the project. The Duo Mobile API was well enough documented and had a ready-to-use SDK. A few lines of code later I had the project deployed to an internal RedHat server.</p>
      <img src="../assets/projects/duo_04.png" alt="Image of project sample code">
    </section-with-title>
    <section-with-title tite="Extra Fun!">
      <p>I said I wear multiple hats... well this project is the <strong>perfect example.</strong></p>
      <p>In terms of the organization, this was a "small" internal project. So, no support from our training/marketing groups. Knowing this was a radical shift in User Experience we felt some sort of training/communication was essential.</p>
      <p>So, what do you do when you're given lemons... make a training video!</p>
      <carousel :perPage="1" :paginationSize="13" :paginationPadding="5" paginationActiveColor="#FBB145">
        <slide><img src="../assets/projects/duo_05.png"></slide>
        <slide><img src="../assets/projects/duo_06.png"></slide>
      </carousel>
      <p>I started with a screen recording of the whole enrollment process. Next, I wrote a script for the voice-over. Lastly, I worked with a fellow developer, who happens to be an Audiophile, to get a crisp voice over for my video.</p>
      <p>...and here's the finished video.</p>
      <div class="iframe">
        <iframe class="iframe__video" src="https://player.vimeo.com/video/276668942" frameborder="0"></iframe>
      </div>
    </section-with-title>
  </section>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel'
  import NavComponent from '@/components/AppNav'
  import SummaryComponent from '@/components/AppSummary'
  import SectionWithTitle from '@/components/SectionWithTitle'

  export default {
    name: 'ProjectDuo',
    components: {
      Carousel,
      Slide,
      NavComponent,
      SectionWithTitle,
      SummaryComponent
    }
  }
</script>

<style scoped>
  .iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 9:16 aspect ratio */
  }

  .iframe__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
