<template>
  <section>
    <nav-component />
    <summary-component
      project="Locations"
      team="Me + Co-workers"
      scope="Create a simple way for managers to update an employee's assigned work location every quarter, and save this information directly to Microsoft Active Directory."
      frameworks="Vue, Express, LDAPjs, Docker, OpenLDAP, Active Directory"
      services="Development & UX/UI"
    >
      <img src="../assets/projects/locations_screen_01.png">
    </summary-component>
    <section-with-title title="Challenges">
      <p>We faced two challenges when approaching this project.</p>
      <p>First, was the lack of direction from the organization. All we—the development team—had to work off of was,
        <i>"We'd like a way to update employee locations, it needs to save everything to Active Directory, and all Managers need access to it for a quarterly update."</i>
      </p>
      <p>Second, was the technology. Microsoft's Active Directory is not as friendly as other modern authentication frameworks. For this reason I had to invest some time researching authentication strategies for our selected backend—Express.</p>
    </section-with-title>
    <section-with-title title="Technology">
      <p>After playing with a few libraries I settled on LDAPjs and Docker with an OpenLDAP image for local development. Also, to make LDAPjs easier to work with I wrote a simple wrapper that allowed us to work with promises over callbacks.</p>
    </section-with-title>
    <section-with-title title="User Experience">
      <p>In the absence of clear direction, we decided to establish some goals:</p>
      <ul>
        <li>Fully responsive web/mobile experience</li>
        <li>Focus on displaying only relevant information</li>
        <li>User interface must be simple and intuitive</li>
        <li>Real-time feedback to the user</li>
      </ul>
      <p>Having been a manager previously I had a unique perspective on the request. Knowing that a manager would be filling out this form we focused on their ideal workflow.</p>
      <p>We decided to display only their immediate team's information, but allowed them to traverse "down" their organizational structure—as appropriate.</p>
      <p>This allowed the people doing the work to quickly see and update records. Additionally, it satisfied the need of Senior Leaders to traverse their structure to find records that had yet to be updated.</p>
      <carousel :perPage="1" :paginationSize="13" :paginationPadding="5" paginationActiveColor="#FBB145">
        <slide><img src="../assets/projects/locations_screen_02.png"></slide>
        <slide><img src="../assets/projects/locations_screen_03.png"></slide>
        <slide><img src="../assets/projects/locations_screen_04.png"></slide>
      </carousel>
    </section-with-title>
    <section-with-title title="Development">
      <p>Given my experience with Active Directory—and that this was a smaller app—I ended up taking the lion's share of the work. Which I was happy to do.</p>
      <p>I skipped the typical mockup/wireframe process, and went straight to selecting a font and color palette. With those two things in-hand I went to work. All-in-all I'm pretty happy with the final product—and so was my customer.</p>
      <img class="phone" src="../assets/projects/locations_demo.gif">
    </section-with-title>
  </section>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel'
  import NavComponent from '@/components/AppNav'
  import SummaryComponent from '@/components/AppSummary'
  import SectionWithTitle from '@/components/SectionWithTitle'

  export default {
    name: 'ProjectLocations',
    components: {
      Carousel,
      NavComponent,
      SectionWithTitle,
      Slide,
      SummaryComponent
    }
  }
</script>

<style scoped>
  .phone {
    display: block;
    margin: 3rem auto 0 auto;
    height: 35rem;
  }
</style>
