<template>
  <router-link class="app-nav" tag="div" to="/">
    <img class="app-nav__logo" src="../assets/jared-horizontal.svg" />
  </router-link>
</template>

<script>
  export default {
    name: 'AppNav'
  }
</script>

<style>
  .app-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    height: 3.5rem;
  }

  .app-nav:hover {
    cursor: pointer;
  }

  .app-nav__logo {
    max-height: 100%;
  }
</style>
