<template>
  <section class="app-summary">
    <div class="app-summary__heading">Summary</div>
    <div class="app-summary__table">
      <span class="app-summary__title">Project</span>
      <span class="app-summary__text">{{project}}</span>

      <span class="app-summary__title">Team</span>
      <span class="app-summary__text">{{team}}</span>

      <span class="app-summary__title">Scope</span>
      <span class="app-summary__text">{{scope}}</span>

      <span class="app-summary__title">Frameworks</span>
      <span class="app-summary__text">{{frameworks}}</span>

      <span class="app-summary__title">Services</span>
      <span class="app-summary__text">{{services}}</span>
    </div>
    <div class="app-summary__image">
      <slot></slot>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'AppSummary',
    props: {
      project: String,
      team: String,
      scope: String,
      frameworks: String,
      services: String
    }
  }
</script>

<style>
  .app-summary {
    margin-bottom: 5rem;
  }

  .app-summary__table {
    display: flex;
    flex-wrap: wrap;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
  }

  .app-summary__heading {
    font-weight: var(--font-black);
    font-size: 1.75rem;
    color: var(--color-yellow);
    margin-bottom: 1rem;
  }

  .app-summary__title {
    flex: 1 20%;
    font-weight: var(--font-black);
  }

  .app-summary__text {
    flex: 1 80%;
  }

  .app-summary__image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 30rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
  }

  @media screen and (max-width: 730px) {
    .app-summary__title,
    .app-summary__text {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    .app-summary__title {
      flex: 1 100%;
      margin-top: .5rem;
    }

    .app-summary__title:first-of-type {
      margin-top: 0;
    }

    .app-summary__text {
      line-height: 1.5rem;
      padding-bottom: .5rem;
      border-bottom: 2px solid var(--color-grey-light);
    }
  }
</style>
