<template>
  <div class="card" @click="redirect">
    <div class="card__content">
      <div class="card__background">{{ title }}</div>
      <div class="card__title">{{ title }}</div>
      <div class="card__description" v-html="description" />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Card',
    props: {
      title: String,
      description: String,
      route: String
    },
    methods: {
      redirect () {
        if (this.route) this.$router.push(this.route)
      }
    }
  }
</script>

<style>
  .card {
    flex: 1 50%;
    padding: 1rem .5rem;
    cursor: pointer;
  }

  .card:nth-child(odd) { padding-left: 0 }

  .card:nth-child(even) { padding-right: 0 }

  .card__content {
    z-indeX: -2;
    background-color: var(--color-grey-light);
    position: relative;
    overflow: hidden;
    min-height: 100%;
    padding: 1rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
  }

  .card__background {
    z-index: -1;
    position: absolute;
    bottom: -3rem;
    left: -2rem;
    line-height: 15rem;
    font-size: 15rem;
    font-weight: var(--font-black);
    color: var(--color-grey-light);
    -webkit-transition: color 600ms;
    -moz-transition: color 600ms;
    -ms-transition: color 600ms;
    -o-transition: color 600ms;
    transition: color 600ms;
  }

  .card:hover .card__content {
    background-color: var(--color-yellow);
  }

  .card:hover .card__background {
    color: var(--color-yellow-light);
  }

  .card__title {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: var(--font-bold);
  }

  .card__description {
    font-size: 1.125rem;
    line-height: 2.25rem;
    padding-bottom: 2rem;
  }

  .card__description b {
    font-weight: var(--font-medium);
  }
</style>
