<template>
  <section class="section">
    <div class="section__title">{{ title }}</div>
    <div class="section__text">
      <slot></slot>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SectionWithTitle',
    props: {
      title: String
    }
  }
</script>

<style>
  .section {
    margin-bottom: 5rem;
  }

  .section__title {
    font-weight: var(--font-black);
    font-size: 1.75rem;
    color: var(--color-yellow);
    margin-bottom: 1rem;
  }

  .section__text {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .section img {
    display: block;
    margin: 1.5rem auto 0 auto;
    max-width: 100%;
    max-height: 30rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
  }
</style>
