<template>
  <section>
    <h1 class="heading">{{ contact.title }}</h1>
    <span class="description">{{ contact.description }}</span>
    <social-links />
  </section>
</template>

<script>
  import { home } from '../db'
  import SocialLinks from '../components/SocialLinks'

  export default {
    name: 'HomeContact',
    components: { SocialLinks },
    data () {
      return { contact: home.contact }
    }
  }
</script>
