<template>
  <section>
    <h1 class="heading">Skills</h1>
    <span class="description">My life's motto is <strong>never stop learning!</strong> Aside from being a passionate Full Stack Developer I'm skilled in the following areas:</span>
    <ul class="skills">
      <li class="skills__group" v-for="(item, index) in skills.list" :key="index">
        <img class="skills__image" :src="require(`@/assets/icons/${item.icon}.svg`)">
        <div class="skills__text">{{ item.title }}</div>
      </li>
    </ul>
  </section>
</template>

<script>
  import { home } from '../db'

  export default {
    name: 'HomeSkills',
    data () {
      return { skills: home.skills }
    }
  }
</script>

<style scoped>
  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  .skills__group {
    flex: 1 50%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .skills__image {
    margin-right: 1rem;
    height: 2rem;
    width: 2.5rem;
  }

  .skills__text {
    font-size: 1.125rem;
    font-weight: var(--font-medium);
    line-height: 3rem;
    white-space: nowrap;
  }

  @media screen and (max-width: 600px) {
    .skills__group {
      margin-left: 2rem;
      flex: 1 100%;
    }
  }
</style>
