<template>
  <section>
    <h1 class="heading">{{ technology.title }}</h1>
    <span class="description">{{ technology.description }}</span>
    <div class="framework">
      <div class="framework__group" v-for="(item, index) in technology.list" :key="index">
        <span class="framework__name">{{ item.title }}</span>
        <img class="framework__icon" :src="require(`@/assets/${item.icon}.svg`)">
      </div>
    </div>
  </section>
</template>

<script>
  import { home } from '../db'

  export default {
    name: 'HomeTechnology',
    data () {
      return { technology: home.technology }
    }
  }
</script>

<style scoped>
  .framework {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5rem;
  }

  .framework__group {
    flex: 1 0 25%;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
  }

  .framework__name {
    font-weight: var(--font-medium);
    font-size: 1.875rem;
    line-height: 3rem;
  }

  .framework__icon {
    margin-left: .75rem;
    height: 2.25rem;
  }

  /* Phone */
  @media screen and (max-width: 425px) {
    .framework__group {
      flex: 1 50%;
      display: flex;
      justify-content: center;
    }

    .framework__name {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    .framework__icon {
      margin-left: .5rem;
      height: 2rem;
    }
  }

  /* Phone Tiny */
  @media screen and (max-width: 320px) {
    .framework__group {
      flex: 1 100%;
    }
  }
</style>
