<template>
  <section>
    <h1 class="heading">{{ portfolio.title }}</h1>
    <span class="description" v-html="portfolio.description" />
    <div class="cards">
      <template v-for="(item, index) in portfolio.list">
        <card :title="item.title"
              :description="item.description"
              :route="item.route"
              :key="index" />
      </template>
    </div>
  </section>
</template>

<script>
  import Card from '../components/Card'
  import { home } from '../db'

  export default {
    name: 'HomePortfolio',
    components: { Card },
    data () {
      return { portfolio: home.portfolio }
    }
  }
</script>

<style scoped>
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
</style>
