<template>
  <div id="container">
    <router-view />
    <footer>Copyright © {{year}}, Jared Meakin</footer>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data () {
      const year = new Date(Date.now()).getFullYear()
      return { year }
    },
    mounted () {
      document.body.classList.add('background')
    }
  }
</script>

<style>
  @import url('./assets/minireset.css');

  :root {
    --color-yellow: #FBB145;
    --color-yellow-light: #fae0bb;
    --color-blue: #3274CD;
    --color-black: #33312f;
    --color-black-light: #4d4b4b;
    --color-grey: #e7e7e7;
    --color-grey-light: #f8f8f8;
    --color-red: #ff5f5d;
    --color-white: #FFFFFF;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;
  }

  #container {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: var(--font-regular);
    line-height: 2rem;
    color: var(--color-black);
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 49rem;
  }

  .background {
    background: url('./assets/dotgridpattern.jpg') repeat;
  }

  footer {
    text-align: center;
    color: #333333;
    opacity: .8;
    font-size: 1rem;
    padding: 2rem 0 1rem 0;
  }
</style>
