@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/background.jpg') repeat;
}
